.container {
    width: 100%;
    padding: 10px 10px;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    width: 70px;
    height: 60px;
  
  }
  
  .logo-name {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    font-family: "Fredoka", sans-serif;
    text-transform: uppercase;
  }